.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-set {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.clients-set__item {
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients-set__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  height: 90px;
  border: 1px solid $clients-networks-color;
  border-radius: 4px;
  fill: $clients-networks-color;

  transition: border-color 250ms $transit-time, fill 250ms $transit-time;

  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
