.page-header {
  display: flex;
  align-items: center;
  min-height: 80px;
  border-bottom: 1px solid $header-border;
  /* background-color: $white-color; */
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.logo {
  color: $black-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--accent {
  color: $accent-color;
}

.site-nav {
  @extend %list;
  display: flex;
  margin-left: 88px;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

/* .site-nav > .item + .item {
  margin-left: 50px;
} */

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition: color 250ms $transit-time;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--current {
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    content: '';
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.adr-nav {
  @extend %list;
  display: block;
  margin-left: 84px;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 305px;
  }
}

.adr-nav__item:not(:last-child) {
  margin: 0;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-right: 50px;
  }
}

.adr-nav__link {
  display: flex;
  align-items: center;

  color: $secondary-text-color;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  white-space: nowrap;

  transition: color 250ms $transit-time;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.adr-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.page-header__btn {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $white-color;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
