.team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $button-bg-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-set {
  @extend %list;
  margin: -15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-set__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: $box-team-shadow;
  max-width: 450px;
  margin: 15px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-set__thumb {
  height: 460px;
  width: 100%;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 374px;
  }

  @media screen and (min-width: 1200px) {
    height: 260px;
  }
}

.team-set__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team-set__cont {
  padding: 30px 32px 24px 32px;
  background-color: $white-color;

  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}

.team-set__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-set__paragraph {
  margin-top: 0;
  margin-bottom: 16px;

  color: $secondary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.icons-set {
  @extend %list;
  display: flex;
  justify-content: center;
}

.icons-set__item:not(:last-child) {
  margin-right: 10px;
}

.icons-set__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: $white-color;
  fill: $clients-networks-color;

  transition: background-color 250ms $transit-time, fill 250ms $transit-time;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $white-color;
  }
}
